div.config__heading
  h2 Runtime
div.config__body
  ul.list--lined-orange
    li Execution Path:&nbsp;
      span.text-white #{runtime.execPath}
    li Command Line Arguments:&nbsp;
      span.text-white [#{runtime.argv}]
    li Node Command Line Arguments:&nbsp;
      span.text-white #{runtime.execArgv}
  div
    h3 Versions
    ul.list--lined
      each value, key in runtime.versions
        li= key + ' version: ' + value
  div
    h3 Environment
    ul.list--lined
      each value, key in runtime.env
        li= key + ' = ' + value
